body{
    background-color:rgb(245, 247, 247);
  }

.progress{
  width:50%;
  margin:0 auto;
  margin-top:20%;
}
  
@media only screen and (max-width:924px){
  .progress{
    width:70%;
    margin:0 auto;
    margin-top:60%;
  }
}